/* base formatting */

* {
    box-sizing: border-box;
    overflow: hidden;
}

html, body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    font-size: 1.7vw;
    background-color: white;
}

#parent {
    width: 100vw;
    height: 100vh;
    position: relative;
}


#parent canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warningScreen {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.warning {
    /* width: 50vw;
    height: fit-content; */
    width: 100%;
    padding: 15vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.warning span {
    font-size: 4vw;
}

/* .noisy {
    background-image: url(../images/noise/noise.svg);
    filter: contrast(120%);
}  */

  #perlinBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100%; 
    /* mix-blend-mode: hard-light;
    opacity: 1;
    background-image: url('../images/noise/noise.svg');
    filter: contrast(120%); */
 }

/* elements */

canvas {
    display: block;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

button:active {
    color: gray;
}

.screen, .screenDesignPublishing {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: visible;
    /* border: 1px solid red; */
}

.screenPapers {
    width: 100vw;
    padding: 0;
    margin-top: 10vh;
    margin-bottom: 7vh;
    position: relative;
    /* border: 1px solid red; */
}

.print svg {
    width: max(7vw, 40px);
    height: max(7vw, 40px);
    /* background-color: red; */
}

.print svg:hover {
    fill: transparent;
    stroke: black;
    stroke-width: 2.2px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='20'><text x='25%' y='50%' font-family='Arial' font-weight='bold' font-size='20' dominant-baseline='middle' text-anchor='middle' fill='black'>PRINT</text></svg>") 16 0, auto;
}

.print svg:active {
    fill: transparent;
    stroke: gray;
    stroke-width: 2.2px;
}

.image {
    /* width: 700px; */
    /* height: 495px; */
    width: max(51vw, 250px);
    height: max(34.3vw, 169px);
    /* background-color: red; */
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    margin-right: 0.7vw;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

#aestheticSpaceImg {
    background-image: url('../images/aestheticSpace/aestheticSpace.png');
}

#mappingImg {
    background-image: url('../images/mapping/mapping.png');
}

#onKnowingImg {
    background-image: url('../images/onKnowing/onKnowing.png');
}

#designingFuturesImg {
    background-image: url('../images/designingFutures/designingFutures.png');
}

#upicImg {
    background-image: url('../images/upic/upic.png');
}

/* stylers */

.margin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18vw;
    margin-right: 18vw;
}

.flex, .flexAlways, .flexRM {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertCenter, .vertCenterAbout {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50.5%);
    transform: translateY(-50.5%);
}

.nonAdjustableScreen {
    margin-top: 7vh;
    margin-bottom: 7vh;
    position: relative;
}