a {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    color: inherit;
}

.anaHenriques {
    font-size: max(4.16667rem, 40px);
    color: black;
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    margin-top: 0;
    margin-bottom: 4vh;
    margin-left: 18vw;
    margin-right: 18vw;
}

.cuteWebsite {
    font-size: max(4rem, 30px);
    color: black;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 19vw;
    margin-right: 19vw;
}

.titles, .aboutTitle {
    font-size: max(3.083rem, 40px);
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 

    margin-top: 0;
    margin-bottom: 4vh;
    margin-left: 18vw;
    margin-right: 18vw;
}

.disclaimer {
    font-size: max(1.3rem, 20px);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1.2px black;
    margin-top: 5vh;
    cursor: pointer;
    animation: blinker 2s infinite;
}

.disclaimer:hover{
    color: black;
    animation: none;
}

.disclaimer:active{
    color: gray;
    -webkit-text-stroke: 1.2px gray;
    animation: none;
}
  
@keyframes blinker {
    from { color: transparent; }
    50% { color: black;}
    to { color: transparent; }
}


.textBox {
    font-size: max(1rem, 18.5px);
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic; 
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18vw;
    margin-right: 18vw;

    /* width: fit-content; */
}

.textBox span {
    font-size: max(0.91rem, 16.5px);
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.textBox a {
    font-size: max(0.91rem,14px);
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.designPublishing {
    font-size: max(2.25rem, 30px);
    color: black;
    text-align: center;
    /* font-family: 'Times New Roman', Times, serif; */
    /* text-decoration: underline; */
    position: relative;
    /* background-color: red; */

    margin-top: 6vh;
    width: max(30vw, 200px);
    height: max(10vw, 60px);
}

#designArial {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.18vw black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
}

#designTimes {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 60%;
    left: 47%;
    transform: translate(-50%, -50%);
}

#publishingArial {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.18vw black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
}

#publishingTimes {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 60%;
    left: 47%;
    transform: translate(-50%, -50%);    
}

/* .designPublishing a {
    font-size: 2.25rem;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;

    margin-top: 140px;
} */

#arial {
    font-style: normal;
}

#times {
    font-size: max(1rem, 16px);
    font-family: 'Times New Roman', Times, serif;
}

#square {
    font-size: max(1.2rem, 16px);
}

#circle {
    font-size: max(1.7rem, 25px);
}

.credits {
    font-size: max(1.5rem, 16px);
    color: black;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
    margin-top: 7vh;
    /* margin-bottom: 7vh; */
    margin-left: 18vw;
    margin-right: 18vw;
}

.credits span{
    font-size: max(1.416666rem, 16px);
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.thankYou {
    font-size: max(1rem, 16px);
    color: black;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    
    margin-top: 7vh;
    margin-bottom: 0;
    margin-left: 18vw;
    margin-right: 30vw;
}

.thankYou a {
    font-weight: bold;
    text-decoration: underline;
}

.monikers {
    font-size: max(2.70833rem, 23px);
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
    margin-top: -4vh;
    margin-bottom: 4vh;
    margin-left: 18vw;
    margin-right: 18vw;
}

.pronouns {
    font-size: max(0.8rem, 16px);
    color: black;
    text-align: right;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18vw;
    margin-right: 18vw; 
}

#ampersand {
    font-size: max(1.8333rem, 22px);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
}

.type {
    font-size: max(1.8333rem, 22px);
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18vw;
    margin-right: 0;
}

.type span {
    font-size: (2.5rem, 40px);
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.readMoreLess {
    font-size: max(2rem, 22px);
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    overflow: visible;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 18vw;
}

/* .readMoreLess a {
    overflow: visible;
} */

#readMore a:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='20'><text x='25%' y='50%' font-family='Arial' font-weight='bold' font-size='20' dominant-baseline='middle' text-anchor='middle' fill='black'>MORE</text></svg>") 16 0, auto;
}

.readMoreLess a:hover {
    color: transparent;
    -webkit-text-stroke: 2px black;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='20'><text x='25%' y='50%' font-family='Arial' font-weight='bold' font-size='20' dominant-baseline='middle' text-anchor='middle' fill='black'>LESS</text></svg>") 16 0, auto;
}

.readMoreLess a:active {
    -webkit-text-stroke: 2px gray;
}

.aboutDescription {
    font-size: max(1.2rem, 16px);
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18vw;
    margin-right: 18vw;
    /* width: 52vw; */
    /* background-color: blue; */
}

.description {
    font-size: max(1.2rem, 16px);
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    letter-spacing: -0.6px;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18vw;
    /* margin-right: 18vw; */
    width: max(51vw, 250px);
    /* background-color: blue; */
}

.description span {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

.description a {
    text-decoration: underline;
}

.description a:hover {
    font-weight: bold;
}

.description a:active {
    color: gray;
}


@media only screen and (max-width: 480px) {
    .screenDesignPublishing {height: 70vh !important; margin-top: 0vh !important;}
    .disclaimer {margin-bottom: 10vh !important;}
    .vertCenterAbout {margin-top: 30vh !important;}
}

@media only screen and (max-width: 700px) {
    .flex {display: block;}
    .designPublishing {margin-left: 0vw; margin-right: 0vw; margin-top: 4vh; width: 68vw;}
    .goDown {margin-bottom: 5vh;}

    .pronouns {text-align: left; margin-bottom: 1vh;}
    .monikers {margin-top: -1vh; text-align: left;}
    .print {margin-top: 4vh;}

    .vertProjectTitle {writing-mode:horizontal-tb !important; -webkit-transform: rotate(0)!important; -moz-transform: rotate(0)!important; transform:rotate(0)!important; width: max(51vw, 250px) !important; height: fit-content !important; margin-top: 3vh !important; margin-bottom: 2vh !important;}

    body .screenDesignPublishing:last-of-type {
        margin-bottom: 15vw !important;
    }
}

@media only screen and (max-width: 1200px) {
    .screenDesignPublishing {height: 64vh; margin-top: 5vw;}
}

@media only screen and (min-width: 1200px) {
    .screenDesignPublishing {margin-top: 8vw;}
}

.vertProjectTitle {
    font-size: max(1.8333rem, 22px);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-align: left;
    letter-spacing: -0.5px;

    /* width: 150px;
    height: 493px; */
    width: 10.8vw;
    height: 34.3vw;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* background-color: red; */
    -webkit-transform: rotate(180deg); 
    -moz-transform: rotate(180deg);    
    transform:rotate(180deg);
}

.vertProjectTitle span {
    font-weight: bold;
}

.horProjectTitle {
    font-size: max(1.8333rem, 22px);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: left;

    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    /* background-color: red; */
}

.horProjectTitle span {
    font-weight: bold;
}

.paperTitle {
    font-size: max(1.8333rem, 22px);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
    margin-top: 5vh;
}

.paperPublisher {
    font-size: max(1.3333rem, 16px);
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;

    margin-top: 1vh;
    padding-bottom: 2vh;
}

.paperPublisher span {
    font-weight: bold;
}

/* .numbertext {
    color: white;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
    mix-blend-mode: difference;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;

    padding: 1vh;
} */

.aboutProject {
    font-size: max(2.3333rem, 28px);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1.5px black;

    margin-top: 0;
    margin-bottom: 3vh;
    margin-left: 18vw;
    margin-right: 18vw;
}

.popUp {
    width: max(50vw, 150px);
    height: fit-content;
    background-color: white;
    border: 2px solid black;
    /* position: fixed;
    top: 0;
    left: 0; */

    font-family: Arial, Helvetica, sans-serif;
    font-size: max(1.7rem, 20px);
    font-weight: bold;
    padding: 5vw;    

    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popUp span {
    font-size: max(1rem, 16px);
    /* font-weight: normal; */
    /* font-style: italic;
    font-family: 'Times New Roman', Times, serif; */
}

.popUpClose {
    font-size: max(3vw, 22px);
    color: black;
    margin-top: 1vw;
    margin-right: 1.5vw;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}