a {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    color: inherit;
}

.anaHenriques {
    font-size: 4.16667rem;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    margin-top: 0;
    margin-bottom: 4vh;
    margin-left: 18vw;
    margin-right: 18vw;
}

.cuteWebsite {
    font-size: 4rem;
    color: black;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 19vw;
    margin-right: 19vw;
}

.titles {
    font-size: 3.083rem;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 

    margin-top: 0;
    margin-bottom: 4vh;
    margin-left: 18vw;
    margin-right: 18vw;
}

.disclaimer {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1.2px black;
    margin-top: 5vh;
    cursor: pointer;
    animation: blinker 2s infinite;
}

.disclaimer:hover{
    color: black;
    animation: none;
}

.disclaimer:active{
    color: gray;
    -webkit-text-stroke: 1.2px gray;
    animation: none;
}
  
@keyframes blinker {
    from { color: transparent; }
    50% { color: black;}
    to { color: transparent; }
}


.textBox {
    font-size: 1rem;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic; 
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18vw;
    margin-right: 18vw;
}

.textBox span {
    font-size: 0.91rem;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.textBox a {
    font-size: 0.91rem;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.designPublishing {
    font-size: 2.25rem;
    color: black;
    text-align: center;
    /* font-family: 'Times New Roman', Times, serif; */
    /* text-decoration: underline; */
    position: relative;
    /* background-color: red; */

    margin-top: 6vh;
    width: 25vw;
    height: 10vw;
}

#designArial {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px black;
    position: absolute;
    top: 25%;
    left: 20%;
    overflow: visible;
}

#designTimes {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 35%;
    left: 18%;
}

#publishingArial {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px black;
    position: absolute;
    top: 25%;
    right: 2.5%;
    overflow: visible;
}

#publishingTimes {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 35%;
    right: 8%;
}

/* .designPublishing a {
    font-size: 2.25rem;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;

    margin-top: 140px;
} */

#arial {
    font-style: normal;
}

#times {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

#square {
    font-size: 1.2rem;
}

#circle {
    font-size: 1.7rem;
}

.credits {
    font-size: 1.5rem;
    color: black;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-left: 18vw;
    margin-right: 18vw;
}

.credits span{
    font-size: 1.416666rem;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.thankYou {
    font-size: 1rem;
    color: black;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18vw;
    margin-right: 30vw;
}

.thankYou a {
    font-weight: bold;
    text-decoration: underline;
}

.monikers {
    font-size: 2.70833rem;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
    margin-top: -4vh;
    margin-bottom: 4vh;
    margin-left: 18vw;
    margin-right: 18vw;
}

.pronouns {
    font-size: 0.8rem;
    color: black;
    text-align: right;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18vw;
    margin-right: 18vw; 
}

#ampersand {
    font-size: 1.8333rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
}

.type {
    font-size: 1.8333rem;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18vw;
    margin-right: 0;
}

.type span {
    font-size: 2.5rem;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.readMoreLess {
    font-size: 2rem;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    overflow: visible;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 18vw;
}

/* .readMoreLess a {
    overflow: visible;
} */

#readMore a:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='20'><text x='25%' y='50%' font-family='Arial' font-weight='bold' font-size='20' dominant-baseline='middle' text-anchor='middle' fill='black'>MORE</text></svg>") 16 0, auto;
}

.readMoreLess a:hover {
    color: transparent;
    -webkit-text-stroke: 2px black;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='20'><text x='25%' y='50%' font-family='Arial' font-weight='bold' font-size='20' dominant-baseline='middle' text-anchor='middle' fill='black'>LESS</text></svg>") 16 0, auto;
}

.readMoreLess a:active {
    -webkit-text-stroke: 2px gray;
}

.aboutDescription {
    font-size: 1.2rem;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18vw;
    margin-right: 18vw;
    /* width: 52vw; */
    /* background-color: blue; */
}

.description {
    font-size: 1.2rem;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    letter-spacing: -0.5px;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18vw;
    /* margin-right: 18vw; */
    width: 52vw;
    /* background-color: blue; */
}

.description span {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

.description a {
    text-decoration: underline;
}

.description a:hover {
    font-weight: bold;
}

.description a:active {
    color: gray;
}

.vertProjectTitle {
    font-size: 1.8333rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    writing-mode: vertical-rl;
    text-align: left;
    letter-spacing: -0.5px;

    /* width: 150px;
    height: 493px; */
    width: 10.8vw;
    height: 34.3vw;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* background-color: red; */
    -webkit-transform: rotate(180deg); 
    -moz-transform: rotate(180deg);    
    transform:rotate(180deg);
}

.vertProjectTitle span {
    font-weight: bold;
}

.horProjectTitle {
    font-size: 1.8333rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: left;

    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    /* background-color: red; */
}

.horProjectTitle span {
    font-weight: bold;
}

.paperTitle {
    font-size: 1.8333rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
    margin-top: 3vh;
}

.paperPublisher {
    font-size: 1.3333rem;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;

    margin-top: 1vh;
    padding-bottom: 1vh;
}

.paperPublisher span {
    font-weight: bold;
}

.numbertext {
    color: white;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
    mix-blend-mode: difference;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;

    padding: 1vh;
}

.aboutProject {
    font-size: 2.3333rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1.5px black;

    margin-top: 0;
    margin-bottom: 3vh;
    margin-left: 18vw;
    margin-right: 18vw;
}