body, html, #body {
    width: 297mm !important;
    height: 210mm !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
    /* background-color: red; */
    size: a4;

    /* background-image: url('../images/textures/texture1.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



/* Screens */

.background {
    overflow: hidden;
    width: 297mm !important;
    height: 210mm !important;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

#a4Screen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    /* display: none; */
    /* background-color: rgba(255, 255, 255, 0.8); */
}

.coverScreen {
    /* background-color: greenyellow; */
    width: 74.24mm;
    height: 105mm;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    transform: rotate(180deg);
}

.contactScreen {
    /* background-color: peachpuff; */
    width: 74.24mm;
    height: 105mm;
    position: absolute;
    top: 0;
    left: 74.24mm;
    margin: 0;
}

.publishingScreen1 {
    /* background-color: orange; */
    width: 74.24mm;
    height: 105mm;
    position: absolute;
    top: 0;
    left: 148.5mm;
    margin: 0;

    transform: rotate(180deg);
}

.publishingScreen2 {
    /* background-color: aqua; */
    width: 74.24mm;
    height: 105mm;
    position: absolute;
    top: 0;
    left: 222.74mm;
    margin: 0;

    transform: rotate(180deg);
}

.publishingScreenDiv {
    /* margin-top: 20px; */
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    /* background-color: red; */
}

.screenDiv {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    /* background-color: red; */
}

.aboutMeScreen {
    /* background-color: yellow; */
    width: 148.5mm;
    height: 105mm;
    position: absolute;
    top: 105mm;
    left: 0;
    margin: 0;
}

.designScreen1 {
    /* background-color: pink; */
    width: 74.24mm;
    height: 105mm;
    position: absolute;
    top: 105mm;
    left: 148.5mm;
    margin: 0;
}

.designScreen2 {
    /* background-color: rgb(255, 116, 56); */
    width: 74.24mm;
    height: 105mm;
    position: absolute;
    top: 105mm;
    left: 222.74mm;
    margin: 0;
}

.contactScreenTrial {
    transform: rotate(-90deg);

    position: absolute;
    top: 15.5mm;
    left: 59mm;
    margin: 0;
    /* background-color: beige; */
    height: 74.24mm;
    width: 105mm;
}



/* Common Classes */

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    color: black;
    width: 60vw;
    font-size: 2.8vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: left;
    margin-left: 15vw;
    padding: 5vw;
    line-height: 130%;
}

.loading span {
    font-size: 8vw;
    line-height: initial;
}

#timesItalic {
    font-size: 3.2vw;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

/* .loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(3,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  } */

#ampersand {
    font-size: 9pt;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
}

.type {
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif;
}

.type span {
    font-size: 12pt;
    font-weight: bold;
}

.image {
    width: 173px;
    height: 123px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.description {
    font-size: 7pt;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: 7pt;
    width: 173px;
    letter-spacing: -0.25px;
}

.description span {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

.position {
    position: relative;
    width: 220px;
}

.vertProjectTitle {
    height: 123px;
    width: 40px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    margin-bottom: 0px;
}

.floatingTitles {
    font-size: 9pt;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
    text-align: left;
    line-height: 10pt;

    width: 123px;
    height: 40px;
    /* background-color: pink; */
    position: absolute;
    transform:rotate(-90deg)
}

.floatingTitles span {
    font-weight: bold;
}

#AStitle {
    top: 486px;
    left: 1009px;  
}

#OKtitle {
    top: 664px;
    left: 1009px;  
}

#MPPtitle {
    top: 663px;
    left: 728px;  
}

#DFtitle {
    top: 268px;
    left: 551px;  
}

#Utitle {
    top: 89px;
    left: 551px;  
}

.titles {
    font-size: 30pt;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
}

.textBox {
    font-size: 10pt;
    line-height: 12pt;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.textBox span {
    font-size: 9pt;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}



/* Cover */

.coverText {
    font-size: 29pt;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 30pt;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.dashed {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 16px;
    height: 1px;

    background-image: repeating-linear-gradient(-60deg, #333333, #333333 0.39px, transparent 1px, transparent 6.46px, #333333 15px), repeating-linear-gradient(30deg, #333333, #333333 0.39px, transparent 1px, transparent 6.46px, #333333 15px), repeating-linear-gradient(120deg, #333333, #333333 0.39px, transparent 1px, transparent 6.46px, #333333 15px), repeating-linear-gradient(210deg, #333333, #333333 0.39px, transparent 1px, transparent 6.46px, #333333 15px);
background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
background-position: 0 0, 0 0, 100% 0, 0 100%;
background-repeat: no-repeat;

}

.zineInstructions {
    margin-left: 25px;
    margin-right: 20px;
    width: 235px;
    height: 85px;
    /* background-color: red; */
    /* background-image: url('../images/cover/zineInstructions.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.tableOfContents {
    height: 396.849px;
    width: 97px;
    position: absolute;
    top: 0;
    left: 50mm;
    /* background-color: red; */
    /* background-image: url('../images/cover/tableOfContents.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.perlinBackground {
    width: 297mm !important;
    height: 210mm;
    position: absolute;
    top: 0;
    left: 0;
}



/* About Me */

.aboutScreenDiv {
    width: 123.5mm;
    height: fit-content;
}



/* Publishing + Design */

.publishingCanvas {
    /* background-color: cornflowerblue; */
    width: 74.24mm;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .publishingCanvas img {
    width: 74.24mm;
    height: 80px;  
} */

.designCanvas {
    /* background-color: cornflowerblue; */
    width: 100%;
    height: 166px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .designCanvas img {
    width: 100%;
    height: 166px;   
} */

.paperTitle {
    font-size: 9pt;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-top: 10px;
}

.paperPublisher {
    font-size: 6.5pt;
    font-family: Arial, Helvetica, sans-serif;
}

.paperPublisher span {
    font-weight: bold;
}

.verticalSpacingPublishing {
    height: 10px;
}



/* Contact */

.pronouns {
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: right;
    margin-right: 50px;
}

.anaHenriques {
    text-align: center;
    font-size: 28pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;

    width: 105mm;
}

.monikers {
    text-align: center;
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.credits {
    font-size: 12pt;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 14pt;

    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
}

#square {
    font-size: 8pt;
}

#circle {
    font-size: 12pt;
}

.print {
    width: 38px;
    height: 38px;
    /* background-image: url('../images/qr/qr.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: red; */
}

.alignVerticalCenter {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}